<ion-view  >
<ion-header-bar  class="bar-assertive" >
   <button class="button button-clear" ng-click="backtoIndex()" id="header">
    <i class="icon ion-close-round"></i>
    </button>
     <h1 class="title">选择城市</h1>
</ion-header-bar>
  <ion-content >
  <div class="list">

  <div class="item item-divider">
    当前城市
  </div>

  <div class="item">
   <a  class="button locatonbutton" ng-click="chosethisCity('{{realLocation}}')">{{realLocation}}</a>
  </div>
</div>

   <div class="row">
  <div class="col col-33 nopadding" >
    <ion-scroll ng-style="{{leftstyle}}">
<ion-list>
  <ion-item ng-repeat="category in categorys" type="item-text-wrap"  class="nopadding" 
  ng-click="refreshCitys({{category.id}})">
          <a class="item ">
          <p>{{category.name}}</p>
        </a>
      </ion-item>
    </ion-list>
      </ion-scroll >
</div>
  <div class="col col-33 nopadding">
    <ion-scroll ng-style="{{leftstyle}}">
    <ion-list>
      <ion-item ng-repeat="city in citys" type="item-text-wrap"  class="nopadding" >
        <a class="item"   ng-click="refreshAreas('{{city.name}}')">
          <p>{{city.name}}</p>
       </a>
      </ion-item>
    </ion-list>
    </ion-scroll >
  </div>
   <div class="col col-33 nopadding">
    <ion-scroll ng-style="{{leftstyle}}">
    <ion-list>
      <ion-item ng-repeat="area in areas" type="item-text-wrap"  class="nopadding" >
        <a class="item"   ng-click="chosethisArea('{{area.name}}')">
          <p>{{area.name}}</p>
       </a>
      </ion-item>
    </ion-list>
    </ion-scroll >
  </div>
</div>
  
  </ion-content>

</ion-view>