<ion-view  >
<ion-header-bar  class="bar-assertive">
           <button class="button button-clear" ng-click="closedetails()" >
           <i class="icon ion-chevron-left"></i>
        </button>
        <a class="title">店铺简介</a>
 </ion-header-bar>
  <ion-content scrollbar-y="false">

  <div class="item nopadding" >
   <!-- <img class="logo" src="{{shopinfo.shop.logo  |  urlLogoFilter}}">-->
    <img class="bgimage" src="{{shopinfo.shop.image |  urlBgFilter}}" >
  </div>
  <div class="list">
<!--
  <div class="item item-image">
    <img src="img/temp/shop/shopimg1.png">
  </div>
 --> 
<div class="card">

</div>



</ion-view>

