<ion-view>
<ion-header-bar  class="bar-assertive">
           <button class="button button-clear" ng-click="backtoIndex()">
           <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">{{title}}</h1>
 </ion-header-bar>
 <ion-content>
 <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
     <ion-slide ng-repeat="ad in ads">
        <div class="item nopadding" style="max-height:300px">
          <img class="bgimage" ng-src="{{ad.advertisementItem.filePath}}" >
        </div>
      </ion-slide>
    </ion-slide-box>
 <div class="list">
   <div class="card item item-image market" ng-repeat="market in marketData" style="width: 33%;display: inline-block;padding: 8px;" ng-click="goMarket({{market.id}})">
    <img src="{{market.logo}}">
    <br/>
     <div>
      <span>{{market.name}}</span>
    </div>
  </div>
</div>
<ion-infinite-scroll
    on-infinite="loadMore()">
  </ion-infinite-scroll>
</ion-content>
</ion-view>