<ion-view  >
<ion-header-bar   class="bar-assertive" >
   <button class="button button-clear" ng-click="backtoMemberpage()">
    <i class="icon ion-close-round"></i>
    </button>
     <h1 class="title">我的新商币</h1>
</ion-header-bar>
  <ion-content >
  <div class="item">
    账户余额:
    <h1 style="color:red">{{ memberblance.balance | number : 2 }}</h1>
  </div>
  <div class="item item-divider">
    最近收支明细
  </div>
<ion-list >
  <ion-item ng-repeat="recode in Recodes" type="item-text-wrap"  class="nopadding" >
          <div class="item"> 
            <div class="input-label">
                 创建时间：<span>{{recode.createTime}}</span>
             </div>
              <div class="input-label">
                 收支金额：<span>{{recode.amount}}</span>
             </div>
          </div>
      </ion-item>
    </ion-list>
</ion-list>

  </ion-content>

</ion-view>