<ion-view  class="mineBgColor">
<ion-header-bar  class="bar-assertive">
           <button class="button button-clear" ng-click="closeProductDetail()">
           <i class="icon ion-chevron-left"></i>
        </button>
        <button class="button button-clear" ng-click="openPopover($event)">
          <i class="icon ion-more"></i>
        </button>
 </ion-header-bar>
  <ion-content scrollbar-y="false">
  <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true">
   <ion-slide ng-repeat="proimg in product.productImages">
  <div class="item nopadding" style="max-height:300px">
    <img class="bgimage" src="{{proimg.imgPath}}" >
  </div>
  </ion-slide>
</ion-slide-box>

<div class="row" style="background: #fff;">
  <div class="col">
      <div class="item  padding-right noborder nopadding padding-left">
    <span class=" fl" style="font-size: 16px;">
         {{product.product.name}}
    </span>
  </div>
  <div class="item  padding-right noborder nopadding padding-left">
    <span class=" fl" style="color: #DF0024;font-size: 16px;">
      ￥  {{product.product.discountPrice}}
    </span>
    <!--
    <span class="fr" style="margin-left: 5px;color: #666;font-size: 16px;">68</span><i class="icon ion-ios7-heart-outline fr"></i><br>
  -->
    </div>
    <div class="item padding-left padding-right noborder nopadding">
     <span class=" fl" style="text-decoration:line-through;color: #666;font-size: 16px;">
      价格:￥ {{product.product.price}}
    </span><br>
      <div style="text-align: center;color: #666;font-size: 16px;">
       <!-- <span class="fl">卖家包邮</span><span class="fr">宁波</span>-->
      </div>
  </div>
  </div>
</div>

<div class="list"></div>
    <div class="list">
      <a class="item " href="">
        <strong>选择 尺码 颜色分类</strong>
        <i class="fr icon ion-chevron-right"></i>
      </a>
    </div>
       <div class="list">
    <div class="tabs tabs-striped tabs-relative tabs-color-assertive" style="background: #fff;">
      <a class="tab-item active" >
        图文详情
      </a>
      <a class="tab-item" >
        产品参数
      </a>
      <a class="tab-item" >
        累计评价
      </a>
   </div>
   <div class="item" ng-bind-html="deliberatelyTrustDangerousSnippet()" id="productdetail">
     
   </div>
  <!--
<div class="row" style="background: #fff;">
  <div class="col">
  <img class="bgimage" src="img/temp/product/productbg.png" >
  </div>
</div>
<div class="row" style="background: #fff;">
  <div class="col">
    <div class="item item-image product-big">
      <img src="img/temp/product/pss1.png">
    </div>
  </div>

  <div class="col">
  <div class="item item-image product-big">
    <img src="img/temp/product/pss2.png">
  </div>
  </div>
</div>
<div class="row" style="background: #fff;">
  <div class="col">
  <img class="bgimage" src="img/temp/product/pss3.png" >
  </div>
</div>
<div class="row" style="background: #fff;">
  <div class="col">
  <img class="bgimage" src="img/temp/product/pss4.png" >
  </div>
</div>
-->
<div class="item bar" style="border:none">
  <div class="title">同店推荐</div>
 </div>
 <!-- <div class="list" style="margin-left: 2%;margin-right: 2%;">
  <div ng-repeat="market in marketData" class="item item-image market" style="width: 32%;display: inline-block;border: none;" ng-click="goMarket({{market.id}})">
    <img src="{{market.logo}}">
    <br/>
     <div>
      <span>{{market.name}}</span>
    </div>
  </div>
</div> -->
<div style="background: #fff;">


 <div class="item nopadding"
    ng-repeat="product in recproducts" style="width:48%;display:inline-block;margin-left:1%;" ng-click="showProductDetail({{product.id}});">
    <div style="width:100%;height:200px;overflow:hidden">
   <img src="{{product.detailImage}}" style="width:100%;">
    </div>
     <div class="padding-left padding-right product-desc">
      {{product.name}}
  </div>

  <div class="padding-left padding-right price">
    <span class=" fl">
      ￥ {{product.discountPrice}}
    </span>
  </div>
 </div> 
 </div>
</div>
<div style="display:block;height:50px;">
</div>
  </ion-content>
<div class="mineBgColor" style="height:80px;">
  <div class="tabs" >
    <a class="tab-item " style="font-size:18px;" ng-click="closeProductDetail()">
    <img src="img/temp/product/pss9.png" style="width:20px;">
      进入店铺
    </a>
    <a class="tab-item">
      加入购物车
    </a>
    <a class="tab-item  button button-assertive"  ng-click="topaypage();">
      立即购买
    </a>
  </div>
</div>
</ion-view>

