<ion-view>
<ion-header-bar  class="bar-assertive">
           <button class="button button-clear" ng-click="backtoRecommend()">
           <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">我推荐的业绩</h1>
 </ion-header-bar>
<ion-content>
<ion-item type="item-text-wrap" class="nopadding" >
        <a class="item" style="padding-left: 70px;padding-right: 0px;min-height: 100px;" ng-click="gotoshop({{marketshop.id}})">
          <img style="position: absolute;left: 10px;top: 16px;height: 70px;width: 50px;-webkit-border-radius:50% 50%;-moz-border-radius:50% 50%;border-radius:50% 50%;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2>可调节动滑轮硬壳拉杆箱</h2>
          <p>￥2500.0 <span style="position: absolute;top: 40px;right: 80px;">x2</span></p>
           <p>购于2015-01-01 <span style="position: absolute;top: 70px;right: 80px;">折扣:<i style="color: red">6折</i></span></p>
          <img style="position: absolute;top: 16px;height: 70px;width: 50px;right: 10px;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
       </a>
       <a class="item" style="padding-left: 70px;padding-right: 0px;min-height: 100px;" ng-click="gotoshop({{marketshop.id}})">
          <img style="position: absolute;left: 10px;top: 16px;height: 70px;width: 50px;-webkit-border-radius:50% 50%;-moz-border-radius:50% 50%;border-radius:50% 50%;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2>可调节动滑轮硬壳拉杆箱</h2>
          <p>￥2500.0 <span style="position: absolute;top: 40px;right: 80px;">x2</span></p>
           <p>购于2015-01-01 <span style="position: absolute;top: 70px;right: 80px;">折扣:<i style="color: red">6折</i></span></p>
          <img style="position: absolute;top: 16px;height: 70px;width: 50px;right: 10px;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
       </a>
       <a class="item" style="padding-left: 70px;padding-right: 0px;min-height: 100px;" ng-click="gotoshop({{marketshop.id}})">
          <img style="position: absolute;left: 10px;top: 16px;height: 70px;width: 50px;-webkit-border-radius:50% 50%;-moz-border-radius:50% 50%;border-radius:50% 50%;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2>可调节动滑轮硬壳拉杆箱</h2>
          <p>￥2500.0 <span style="position: absolute;top: 40px;right: 80px;">x2</span></p>
           <p>购于2015-01-01 <span style="position: absolute;top: 70px;right: 80px;">折扣:<i style="color: red">6折</i></span></p>
          <img style="position: absolute;top: 16px;height: 70px;width: 50px;right: 10px;"ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
       </a>
      </ion-item>
</ion-content >
</ion-view>