<ion-view>
<ion-header-bar  class="bar-assertive">
           <button class="button button-clear" ng-click="backtoRecommend()">
           <i class="icon ion-chevron-left"></i>
        </button>
        <h1 class="title">我推荐的会员</h1>
 </ion-header-bar>
<ion-content>
<ion-item type="item-text-wrap" class="nopadding" >
        <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
       <a class="item shopItem-left"  ng-click="gotoshop({{marketshop.id}})">
          <img ng-src="http://image.53xsd.com/newshop/2014/12/cc44b91b-bea6-4d7b-82b3-f33b74593a62.jpg">
          <h2 style="position: absolute;top: 40px;">阿雅</h2>
          <div class="fr" style="position: absolute;right: 10px;top: 40px;">注册时间: 2015-01-01</div>
       </a>
      </ion-item>
</ion-content >
</ion-view>