<ion-popover-view style="width: 95%;height:320px;">
<ion-scroll  style="width: 100%; height: 80%;padding-top: 20px;">
<div class="item nopadding noborder"
    ng-repeat="regionoption in regionoptions" style="width:33%;display:inline-block;padding-bottom:10px;">
 <a  class="button locatonbutton" ng-click="refrshindexbycity('{{regionoption.name}}',{{regionoption.id}})">{{regionoption.name}}</a>
  </div>
 </ion-scroll>
  <button class="button button-block icon-right ion-chevron-right radius-20" ng-click="chosecity()">
 当前城市：{{location}}
</button>
  </ion-popover-view>
