<ion-popover-view style="width: 95%;height:320px;">
<ion-scroll  style="width: 100%; height: 70%;padding-top: 20px;">
 <div class="item nopadding"
    collection-repeat="regionoption in regionoptions"
    collection-item-width="'33%'"
    collection-item-height="'20%'" style="border:none">
   <a  class="button locatonbutton">{{regionoption.name}}</a>
  </div>
 </ion-scroll>
  <button class="button button-full icon-right ion-chevron-right radius-20">
 当前城市：{{location}}
</button>
  </ion-popover-view>
