<ion-tabs class="tabs-icon-only tabs-positive">

      <ion-tab title="Home" 
               icon-on="ion-ios7-filing" 
               icon-off="ion-ios7-filing-outline">
        <ion-content >
  <div class="bar bar-header  bar-clear">
           <button class="button button-clear" ng-click="closedetails()">
           <i class="icon ion-chevron-left"></i>
        </button>
        <button class="button button-clear" ng-click="closedetails()">
          <i class="icon ion-more"></i>
        </button>
 </div>
  <div class="item nopadding">
    <img class="logo" src="img/temp/shop/shoplogo.png">
    <img class="bgimage" src="img/temp/shop/shopbg.png" >
  </div>
  <div class="tabs tabs-relative">
  <a class="tab-item">
    Home
  </a>
  <a class="tab-item">
    Favorites
  </a>
  <a class="tab-item">
    Settings
  </a>
</div>
  </ion-content>
      </ion-tab>

      <ion-tab title="About" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Deadlines</h1>
        </header>
        <ion-content has-header="true">
          <h1>Deadlines</h1>
        </ion-content>
      </ion-tab>

      <ion-tab title="Settings" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline">
        <header class="bar bar-header bar-positive">
          <h1 class="title">Settings</h1>
        </header>
        <ion-content has-header="true">
          <h1>Settings</h1>
        </ion-content>
      </ion-tab>

      
      
</ion-tabs>