<ion-view  >
<ion-header-bar  class="bar" >
   <button class="button button-clear" ng-click="back()">
    <i class="icon ion-chevron-left"></i>
    </button>
    <a class="title">我要付款</a>
</ion-header-bar>
  <ion-content >
  <div class="card ">
    <form>
  <div class="item ">
   交易日期：{{date | date : 'yyyy-MM-dd '}}
  </div>
  <div class="item ">
   商家：{{shopinfo.shop.name}}
  </div>
  <div class="item ">
   新商币余额：{{memberblance.balance}}
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="请输入您要支付的新商币" name="amount" ng-model="payinfo.amount">
    </label>
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="请输入支付密码" name="password" ng-model="payinfo.password">
    </label>
  </div>
</form>
<button class="button button-block button-assertive" ng-click="submitpayinfo();">
  确认付款
</button>
</div>
  </ion-content>

</ion-view>