<ion-view  >
  <ion-content >
  <div class="bar bar-header  bar-clear">
           <button class="button button-clear" ng-click="closedetails()" >
           <i class="icon ion-chevron-left"></i>
        </button>
        <button class="button button-clear" ng-click="SharePage()">
          <i class="icon ion-more"></i>
        </button>
 </div>
  <div class="item nopadding" >
    <img class="logo" src="{{shopinfo.shop.logo  |  urlLogoFilter}}">
    <img class="bgimage" src="{{shopinfo.shop.image |  urlBgFilter}}" >
  </div>
  <div class="list">

  <a class="item item-icon-left" >
    <i class="icon ion-pricetag" style="color:red"></i>
    {{'无折扣'}}
  </a>

  <a class="item item-icon-left item-icon-right" href="tel:{{shopinfo.shop.mobile}}">
    <i class="icon ion-ios7-telephone" style="color:Lime"></i>
     {{shopinfo.shop.mobile}}
    <i class="icon ion-chevron-right" style="font-size: 16px;"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-location" style="color:DeepSkyBlue"></i>
    {{shopinfo.shop.address || '无位置信息'}}
    <i class="icon ion-chevron-right" style="font-size: 16px;"></i>
  </a>
</div>
<!--
  <div class="item item-image">
    <img src="img/temp/shop/shopimg1.png">
  </div>
 --> 
<div class="card">
<div class="item bar padding-top " style="border:none">
  <div class="title title-left ">所有商品</div>
 </div>

</div>

<div class="item nopadding"
    ng-repeat="product in products" style="width:48%;display:inline-block;margin-left:1%;" ng-click="showProductDetail({{product.id}});">
    <div style="width:100%;height:200px;overflow:hidden">
   <img src="{{product.detailImage}}" style="width:100%;">
    </div>
     <div class="padding-left padding-right product-desc">
      {{product.name}}
  </div>

  <div class="padding-left padding-right price">
    <span class=" fl">
      ￥ {{product.price}}
    </span>
    <i class="icon ion-heart fr assertive"></i>
  </div>
 </div> 
<div style="display:block;height:50px;">

</div>
</ion-content>

<div class="button-bar " style="position:fixed;bottom:0">

  <a class="button " style="padding:0px;" >
    宝贝分类
  </a>
  <a class="button " style="padding:0px;">
    店铺简介
  </a>
  <a class="button " style="padding:0px;">
    联系卖家
  </a>
  <a class="button " style="padding:0px;" ng-click="shoptoPay()"> 
    付款
  </a>
</div>


</ion-view>

