<ion-view  >
<ion-header-bar  class="bar" >
   <button class="button button-clear" ng-click="back()">
    <i class="icon ion-chevron-left"></i>
    </button>
    <a class="title">我要付款</a>
</ion-header-bar>
  <ion-content >
  <div class="card ">
  <div class="item ">
   交易日期：
  </div>
  <div class="item ">
   商家：
  </div>  <div class="item ">
   待付金额：
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="请输入支付密码">
    </label>
  </div>

<button class="button button-block button-assertive">
  确认付款
</button>
</div>
  </ion-content>

</ion-view>